---
import {
	Container,
	ThreeColumnTextSection,
	CustomerQuoteSection,
	CtaCardSection,
	TextSection,
	Button
} from '../components/';
import { Icon } from 'astro-icon';
import TextAndImageHero from '../components/sections/heros/TextAndImageHero.astro';

import Layout from '../layouts/Page.astro';
import HomeHeroSection from '../components/sections/heros/HomeHeroSection.astro';
import DynamicColumnTextSection from "../components/sections/DynamicColumnTextSection.astro";
---

<Layout>
	<HomeHeroSection />
	<Container>
		<CustomerQuoteSection
			quoteText="We provide superannuation administration services to superannuation trustees and administrators and also takes care of administrative tasks for advisors through experience and technical innovation. we deliver these services at lower cost to you so you can focus on other important stuff."
			customerName="Liberty Superannuation"
		/>
		<TextAndImageHero reversed>
			<div slot="text-container">
				<h1>Who we are</h1>
				<h3>Trusted advisor</h3>
				<p>Liberty super is your trusted advisor when it comes
					to self managed superannuation matters including
					tax compliance, admin, and investment strategy.</p>
				<h3>Technological partner</h3>
				<p>Liberty super provides strong technological
					development skillsets to help you build up your own
					capabilities to add value to your current client base
					via efficient and optimum solutions, without adding
					to your operating cost.</p>
			</div>
			<!--<div slot="btns-container">-->
			<!--	<Button href="/theme/get-started" customIcon-->
			<!--	>Get Started <Fragment slot="icon">-->
			<!--		<Icon name="ic:baseline-chevron-right"/>-->
			<!--	</Fragment></Button-->
			<!--	>-->
			<!--</div>-->
			<picture slot="image-container">
				<img
					src="/assets/images/landing-1/landing-hero-1.jpg"
					alt="Astro Odyssee"
					id="home-hero-image"
				/>
			</picture>
		</TextAndImageHero>
		<ThreeColumnTextSection>
			<div slot="column-1-body">
				<h2>Super Administrator</h2>
				<p>
					We administrate your self managed superannuation fund for you, including bank reconciliation,
					account-allocation, investment corporate actions, execute your investment strategy.
				</p>
			</div>
			<!--<Button slot="column-1-cta">Learn More</Button>-->
			<div slot="column-2-body">
				<h2>Tax Advisor</h2>
				<p>
					We advise tax matters self managed superannuation fund, including tax administrative matters,
					tax liabilities, tax audits, taxation office enquiries.
				</p>
			</div>
			<!--<Button slot="column-2-cta" outlined>Learn More</Button>-->
			<div slot="column-3-body">
				<h2>Technological Partner</h2>
				<p>
					We provide partnership to you for any technological development needs, including building up
					digital communication with government agencies. ATO, ASIC, SRO and other authorities. So you
					can on sell these services to your clients with efficiency.
				</p>
			</div>
			<!--<Button slot="column-3-cta">Learn More</Button>-->
		</ThreeColumnTextSection>

		<!--<CtaCardSection background="var(&#45;&#45;theme-surface-2)" color="var(&#45;&#45;theme-on-surface-2)">-->
		<!--	<h2>What we do</h2>-->
		<!--	&lt;!&ndash;<p>It only takes a couple clicks to have a new, modern website for your business or startup.</p>&ndash;&gt;-->
		<!--</CtaCardSection>-->

		<TextAndImageHero >
			<div slot="text-container">
				<h1>What we do</h1>
				<h3>Administrative</h3>
				<h3>Compliance</h3>
				<h3>Technological</h3>
			</div>
			<!--<div slot="btns-container">-->
			<!--	<Button href="/theme/get-started" customIcon-->
			<!--	>Get Started <Fragment slot="icon">-->
			<!--		<Icon name="ic:baseline-chevron-right"/>-->
			<!--	</Fragment></Button-->
			<!--	>-->
			<!--</div>-->
			<picture slot="image-container">
				<img
					src="/assets/images/blog/consider-hybrid-work/featured.jpg"
					alt="What we do"
					id="home-hero-image2"
				/>
			</picture>
		</TextAndImageHero>
		<TextSection>
			<!--<div slot="text-container">-->
				<h3 class="featureTitle" >Administrative Service:</h3>
			<!--</div>-->
		</TextSection>
		<!--<Features />-->
		<div class="featureSectionWrapper">
			<DynamicColumnTextSection>
				<div slot="columnBody" class="featureCard">
					<div class="featureCardTitleWrapper">
						<picture slot="image-container" class="featureCardIcon">
							<img
								src="/assets/images/bgl-black-icon.png"
								alt="BGL"
								id="bgl-icon"
							/>
						</picture>
						<h4 class="featureCardTitleText">BGL</h4>
					</div>
					<p class="featureCardText">
						We managed your BGL record keeping suite for you including bank data link, bank reconciliation,
						chart of accounts and other associated services.
					</p>
				</div>
				<div slot="columnBody" class="featureCard">
					<div class="featureCardTitleWrapper">
						<Icon name="icon-park-outline:data-sheet" class="featureCardIcon"/>
						<h4 class="featureCardTitleText">Account allocation</h4>
					</div>
					<p class="featureCardText">
						We managed your complex transactions with care, and your
						accountant can give you appropriate advice based on accurate information.
					</p>
				</div>
				<div slot="columnBody" class="featureCard">
					<div class="featureCardTitleWrapper">
						<Icon name="mdi:call-to-action" class="featureCardIcon"/>
						<h4 class="featureCardTitleText">Corporate action</h4>
					</div>
					<p class="featureCardText">
						We actioned on your behalf for all your investment choices, whether it is related to dividend
						reinvestment or others.
					</p>
				</div>
				<div slot="columnBody" class="featureCard">
					<div class="featureCardTitleWrapper">
						<Icon name="mdi:report-line" class="featureCardIcon"/>
						<h4 class="featureCardTitleText">Report</h4>
					</div>
					<p class="featureCardText">
						We build beautiful reports for you and send them to you on regular basis so you know your
						current status of your SMSF every step of the way.
					</p>
				</div>
				<div slot="columnBody" class="featureCard">
					<div class="featureCardTitleWrapper">
						<Icon name="ant-design:audit-outlined" class="featureCardIcon"/>
						<h4 class="featureCardTitleText">Audit</h4>
					</div>
					<p class="featureCardText">
						TBD
					</p>
				</div>
			</DynamicColumnTextSection>
			<TextSection>
				<!--<div slot="text-container">-->
				<h3 class="featureTitle">Compliance Service:</h3>
				<!--</div>-->
			</TextSection>
			<!--<Features />-->
			<DynamicColumnTextSection>
				<div slot="columnBody" class="featureCard">
					<div class="featureCardTitleWrapper">
						<Icon name="heroicons-outline:receipt-tax" class="featureCardIcon"/>
						<h4 class="featureCardTitleText">Tax return</h4>
					</div>
					<p class="featureCardText">
						We prepare preliminary tax returns for you SMSF.
					</p>
				</div>
				<div slot="columnBody" class="featureCard">
					<div class="featureCardTitleWrapper">
						<Icon name="icon-park-outline:audit" class="featureCardIcon"/>
						<h4 class="featureCardTitleText">SMSF audit</h4>
					</div>
					<p class="featureCardText">
						We organize independent audit for your SMSF with proper compliance checks and balances.
					</p>
				</div>
				<div slot="columnBody" class="featureCard">
					<div class="featureCardTitleWrapper">
						<Icon name="healthicons:family-planning-outline" class="featureCardIcon"/>
						<h4 class="featureCardTitleText">Retirement planning</h4>
					</div>
					<p class="featureCardText">
						TBD
					</p>
				</div>
			</DynamicColumnTextSection>
			<TextSection>
				<!--<div slot="text-container">-->
				<h3 class="featureTitle">Technological Service:</h3>
				<!--</div>-->
			</TextSection>
			<!--<Features />-->
			<DynamicColumnTextSection>
				<div slot="columnBody" class="featureCard">
					<div class="featureCardTitleWrapper">
						<Icon name="mdi:digital-ocean" class="featureCardIcon"/>
						<h4 class="featureCardTitleText">Digital capability</h4>
					</div>
					<p class="featureCardText">
						TBD
					</p>
				</div>
				<div slot="columnBody" class="featureCard">
					<div class="featureCardTitleWrapper">
						<Icon name="tabler:settings-automation" class="featureCardIcon"/>
						<h4 class="featureCardTitleText">Automation</h4>
					</div>
					<p class="featureCardText">
						Your business has many tasks that take time and add little.
						By mapping and redesigning these processes, we make your automation journey enjoyable.
					</p>
				</div>
				<div slot="columnBody" class="featureCard">
					<div class="featureCardTitleWrapper">
						<Icon name="eos-icons:ai" class="featureCardIcon"/>
						<h4 class="featureCardTitleText">Artificial intelligence</h4>
					</div>
					<p class="featureCardText">
						TBD
					</p>
				</div>
			</DynamicColumnTextSection>
		</div>
		<CtaCardSection background="var(--theme-surface-2)" color="var(--theme-on-surface-2)">
			<h2>Start our journey Today</h2>
			<!--<p>It only takes a couple clicks to have a new, modern website for your business or startup.</p>-->
			<Button href="/company/contact" customIcon>Contact Us<Fragment slot="icon">
				<Icon name="ic:baseline-chevron-right"/>
			</Fragment></Button>
		</CtaCardSection>
	</Container>
</Layout>

<style>
	.feature-card__section {
		margin: var(--section-margin) auto;
	}
	.feature-card__grid {
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		gap: var(--theme-grid-gap);
	}
	.featureSectionWrapper {
		margin-bottom: 120px;
	}
	.featureCard {
		width: 340px;
		height: 240px;
		background: var(--theme-surface-1);
		color: var(--theme-on-surface-1);
		padding: 20px;
	}
	.featureCardIcon {
		width: 2.5rem;
		height: 2.5rem;
		margin-right: 15px;
	}
	.featureCardTitleWrapper {
		display: flex;
		align-items: center;
		margin: 10px 0;
	}
	.featureCardTitleText {
		margin: 0;
	}
	.featureCardText {
		text-align: start;
		font-size: 0.9rem;
	}
	.featureTitle {
		text-align: center;
	}
	@media (max-width: 768px) {
		.feature-card__grid {
			grid-template-columns: 1fr;
		}
		.three-col-text__section {
			margin: 0 auto;
		}
		.three-col-text__column {
			margin: 0 auto;
		}
	}
</style>
